<div class="container p-4 my-3 rounded border">
  <div class="question">
    <h1 class="mb-3">{{ questionlist[currentquestion].name}}</h1>

    <ol >
      <li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            [checked]=false
            name="option"
            [value]="questionlist[currentquestion].a"
            (change)="onchange($event)"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ questionlist[currentquestion].a}}
          </label>
        </div>
      </li>


      <li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            [checked]=false
            name="option"
            [value]="questionlist[currentquestion].b"
            (change)="onchange($event)"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ questionlist[currentquestion].b }}
          </label>
        </div>
      </li>
      <li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="option"
            [checked]=false
            [value]="questionlist[currentquestion].c"
            (change)="onchange($event)"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ questionlist[currentquestion].c }}
          </label>
        </div>
      </li>


      <li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            [checked]=false
            name="option"
            [value]="questionlist[currentquestion].d"
            (change)="onchange($event)"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ questionlist[currentquestion].d }}
          </label>
        </div>
      </li>
    </ol>
  </div>

  <div class="d-flex justify-content-between">
    <ng-container *ngIf="currentquestion < questionlist.length - 1">
      <button class="btn" (click)="next()">
        <i
          class="fa text-primary fa-chevron-right fa-3x"
          aria-hidden="true"
        ></i>
      </button>
    </ng-container>

    <ng-container *ngIf="currentquestion === questionlist.length - 1">
      <button type="button" class="btn btn-success" routerLink="/result" routerLinkActive="router-link-active"  (click)="next()">
        Submit
      </button>
    </ng-container>
  </div>
</div>
